!!! 5
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Nunito&subset=latin'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Delius&subset=latin'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'application.css'}
    %title Mippets!
  %body
    .container!= body
