html, body {
  background: #EEEEF3 url('http://subtlepatterns.com/patterns/square_bg.png');
}
div {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.container {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FAFAFA;
  font: normal 16px 'Delius', 'Helvetica', 'Arial', 'sans-serif';
}
h1 {
  font: bold 30px 'Nunito', 'Helvetica', 'Arial', 'sans-serif';
  color: #333;
  letter-spacing: 1px;
}
p {
  padding: 10px 0;
  color: #666;
}
